<%= form_for @post do |form| %>
    <p>

      <%= form.label :post %><br>
      <%= form.text_field :postText %>
    </p>
   
    <p>
      <%= form.label :category %><br>
      <%= form.text_area :category %>
    </p>
   
    <p>
      <%= form.submit %>
    </p>
  <% end %>